html{
    scroll-behavior: smooth;
}

body{
  background-color: #add8e6;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
}

h2{
  font-size: 32px;
  line-height: 1.5;
  text-align: center;
}


h3{font-size: 32px;
  line-height: 1.5;
  text-align: center;
}



p{
  font-size: 20px;
  ling-height: 1.5;
  text-align: center;
  
}

.homepage-pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.miltonpic{display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.bighouse-pic{display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}




.1897team{display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

nav li{
  display:inline;
  padding-right:20px;
 
}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: none; 
}


nav a:hover {
    text-decoration: underline;
}



.skip a{
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top: -40px;
}


.skip a:focus{
  top:0px;
}



.container{
    display: grid;
    display-row-gap: 20px;
    grid-template-columns:3fr 3fr;
    grid-template-rows: auto auto;
    justify-content: center;
    align-content: center;
}


nav{
  background-color: #E3B982;
  padding: 25px 0; 
  text-align: left;
}



header{
    grid-column: 1 / -1;
    grid-row: 1 / auto;
}


.champ, .woodson, .brady, .century, .carrfinal, .richrod, .hoke, .harbaugh, .ohiost{
    grid-column: 2 / span 1;
    justify-content: center;
    
}
.champteam-image, .woodson-image, .brady-image, .century-image, .carrfinal-image, .richrod-image, .hoke-image, .harbaugh-image, .ohiost-image{
    grid-column: 1 / span 1;
    max-height: 650px;
    overflow: hidden;
    justify-content: center;
}

.champ, .champteam-image{
    grid-row: 2 / auto;
}
.woodson, .woodson-image{
    grid-row: 3 / auto;
}

.brady, .brady-image{
    grid-row: 4 / auto;
}

.century, .century-image{
    grid-row: 5 / auto;
}

.carrfinal, .carrfinal-image{
    grid-row: 6 / auto;
}

.richrod, .richrod-image{
    grid-row: 7 / auto;
}
.hoke, .hoke-image{
    grid-row: 8 / auto;
}
.harbaugh, .harbaugh-image{
    grid-row: 9 / auto;
}
.ohiost, .ohiost-image{
    grid-row: 10 / auto;
}


footer{
  background-color: black;
  color: white;
  padding-top: 10px;
  text-align: center;
}
